*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
}

.logo{
    color: #fff;
    font-size: 29px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
}

h2{
    color: #fff;
    font-size: 24px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    text-align: center;
}

h3{
    color: rgba(239, 239, 239, 0.75);
    font-size: 18px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
}

.fw-input{
    display: flex;
    align-items: center;
    border-bottom: 1.5px solid rgba(169, 169, 169, 0.6);
    margin-top: 40px;
}

.fw-input span{
    display: flex;
    align-items: center;
    justify-content: center;
    border: unset;
    border-radius: unset;
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
}

.fw-input input{
    height: 2rem;
    flex: 1;
    border: unset;
    outline: unset;
}

.fw-input input:focus{
    border: unset;
    outline: unset;
}

.fw-input .icon{
    color: rgba(169, 169, 169, 0.6);
}

.f-pass{
    display: flex; 
    justify-content: flex-end;
    font-family: 'Nunito Sans';
    margin-top: 20px;
    font-weight: 600;
    color: rgba(58, 61, 66, 0.8);
    font-size: 1rem;
}

.fw-content .register{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: rgba(58, 61, 66, 0.8);
}

a{
    text-decoration: none;
}

.pin{
    display: flex;
    justify-content: space-between;
}

.pin input{
    width: 53px;
    height: 65px;
    background: #FFFFFF;
    border: 1px solid rgba(169, 169, 169, 0.6);
    box-shadow: 0px 10px 75px rgba(147, 147, 147, 0.1);
    border-radius: 10px;
    text-align: center;
    font-size: 1.5rem;
}

.fw-content button{
    margin: 70px 0 30px 0;
    background-color: #6379F4;
    color: #fff;
    padding: 16px 0;
    border: unset;
    font-family: 'Nunito Sans';
    font-weight: 700;
    font-size: 1.1rem;
}

@media (max-width: 1199.98px) {
    .container{
        display: none;
    }
    .image{
        display: none;
    }
    .main{
        display: flex;
        justify-content: center;
    }
    .fw-content{
        width: 100%;
        padding: 0 50px !important;
    }
}